[defaults]
inventory = ansible/inventory.yml
roles_path = ansible/roles
library = ansible/library
filter_plugins = ansible/filter_plugins
retry_files_enabled = false
host_key_checking = false
interpreter_python = auto_silent
collections_path = ansible/collections:~/.ansible/collections:/usr/share/ansible/collections
stdout_callback = ansible.builtin.default
display_skipped_hosts = false
gathering = explicit

[inventory]
enable_plugins = yaml, host_list, auto
